#eagle{
    width: 100px; 
    height: 100px;
} 
.name{
    background-color: #4aaaa5;
    color: white;
    
} 
body{
    background-image: url("../img/bg.jpg");
    padding: 0;
} 

.header{
    background-color: white;
} 
#ct-fluid{
    padding: 0;
    width: 100%;
} 
.content{
    background-color: white;
} 
.footer-content{
    text-align: center;
    background-color: darkslategrey; 
    border-top: #4aaaa5 10px solid; 
    color: white;

}  

.p-img{
    width: 150px;
    height: 150px;
}

.p-title{
    background-color: #4aaaa5;
    color: white;
    position: absolute;
    top: 110px;
    width: 150px;
}

.p-content{
    height: 500px;
}

@media only screen and ( max-width:640px) {
    #eagle{
        width: 100%;
        height: 150px;

    }
}